.navbar {
    background-color: #111;
    overflow: hidden;
    height: 10%;
}

    .navbar a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
    }

        .navbar a:hover {
            background-color: #ddd;
            color: black;
        }
