<AuthorizeView>
    <Authorized>
        <div class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/buy">Buy</a></li>
                <li><a href="/sell">Sell</a></li>
                <li><a href="/servis">Servis</a></li>
                <li><a href="/buy">Contact</a></li>
                <li>
                    <a href="MicrosoftIdentity/Account/EditProfile">
                        Edit Profile @* Hello @context.User.Claims.FirstOrDefault(claim => claim.Type.Contains("givenname"))?.Value *@
                    </a>
                </li>
                <li><a href="MicrosoftIdentity/Account/SignOut">Log Out</a></li>
            </ul>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/buy">Buy</a></li>
                <li><a href="/buy">Contact</a></li>
                <li><a href="MicrosoftIdentity/Account/SignIn">Log In</a></li>
            </ul>
        </div>
    </NotAuthorized>
</AuthorizeView>
